<header>
    <div class="logo">#Empresa</div>
    <div class="date">Hoy es <span id="current-date"></span></div>
    <nav class="nav">
        <ul class="menu">
            <li class="menu-item">
                <a routerLink="/" class="menu-link">Home</a>
            </li>
            <li class="menu-item">
                <a class="menu-link">Comandas</a>
                <ul class="submenu">
                    <li>
                        <a routerLink="/comanda-ingreso" class="submenu-link">Ingreso</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="menu-link">Registros</a>
                <ul class="submenu">
                    <li>
                        <a routerLink="/registros-producto" class="submenu-link">Productos</a>
                    </li>
                    <li>
                        <a routerLink="/registros-personal" class="submenu-link">Personal</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="menu-link">Reportes</a>
                <ul class="submenu">
                    <li>
                        <a routerLink="/reporte-comanda" class="submenu-link">Comanda</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a routerLink="/help" lass="menu-link">Ayuda</a>
            </li>
        </ul>
        <!-- <a routerLink="/" >Home</a>
        <a routerLink="/comandas" >Comandas</a>
        <a routerLink="/registros">Registros</a>
        <a routerLink="/reportes">Reportes</a>
        <a routerLink="/ayuda">Ayuda</a>
        <a routerLink="/ingreso">Ingreso</a> -->
    </nav>
</header>