<header>
    <div class="logo">#Empresa</div>
    <div class="date">Hoy es <span id="current-date"></span></div>
    <nav class="nav">
        <ul class="menu">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true" routerLink="/" >
                  Home
                </button>                
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-1 clolor-black collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Comandas
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a routerLink="/comanda-ingreso"  class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ingreso</a></li>
                  </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-1 clolor-black collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Registros
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a routerLink="/registros-producto"  class="link-body-emphasis d-inline-flex text-decoration-none rounded">Productos</a></li>
                    <li><a routerLink="/registros-personal"  class="link-body-emphasis d-inline-flex text-decoration-none rounded">Personal</a></li>
                  </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-1 clolor-black collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Reportes
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a routerLink="/reporte-comanda"  class="link-body-emphasis d-inline-flex text-decoration-none rounded">Comanda</a></li>
                  </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true" routerLink="/help" >
                    Ayuda
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true" routerLink="/help" >
                    CerrarSesion
                </button>
            </li>
        </ul>
    </nav>
</header>