:host{
    width: 100%;            
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "footer";
    grid-template-columns: 1fr;
}
.content{
    display: block;
    background-color: white;
    grid-area: content;
    font-family: 'Courier Prime', monospace;
    margin: 100px 15px 0 15px;
}